<br/>
<div class="tile grid-container form-card">
    <div class="cell">
      <h2 class="">
      Log in
      </h2>
    </div>
    <hr/>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field forms">
        <div class="">
          <label class="">
            Email:
          </label>
        </div>
        <div class="field forms">
          <% f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="field forms">
        <div>
          <label>
            Password:
          </label>
        </div>
        <div class="field forms">
          <% f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>

      <br/>

      <div class="field forms">
        <div class="cell">
          <%= f.submit "Log in", class:"button-19 forms" %>
        </div>
      </div>
      <br/>

      <div class="field forms">
        <div class="cell">
          <%= render "devise/shared/links" %>
        </div>
      </div>

      <% end %>

  </div>
