<br/>
<div class="card float-center form-card">
  <div class="cell float-center">
    <h2 class="float-center">Log in</h2>
  </div>
  <hr/>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="grid-x float-center">
        <div class="">
          <label class="">
            Email:
          </label>
        </div>
        <div class="grid-x forms float-center">
          <% f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="grid-x float-center">
        <div class="">
          <label class="">
            Password:
          </label>
        </div>
        <div class="grid-x forms float-center">
          <% f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>

      <div>
        <% if devise_mapping.rememberable? %>
          <div class="checkbox">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      </div>

      <div class="grid-x">
        <div class="cell">
          <%= f.submit "Log in", class:"button-19 forms" %>
        </div>

        <div class="grid-x float-center">
          <div class="cell"></div>
          <ul class="aux-button button-19 button-forms float-center">
            <li class="button-19">
            <%= render "devise/shared/links", :class => "button-forms" %>
            </li>
          </ul>
        </div>


      <% end %>

    </div>
