<br/>
<div class="card float-center form-card index ">
    <div class="cell float-center">
      <h2 class="float-center">Log in</h2>
    </div>
    <hr/>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="grid-x float-center">
        <div class="">
          <label class="">
            Email:
          </label>
        </div>
        <div class="grid-x forms float-center">
          <% f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="grid-x float-center">
        <div>
          <label>
            Password:
          </label>
        </div>
        <div class="grid-x forms float-center">
          <% f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>

      <br/>

      <div class="grid-x">
        <div class="cell">
          <%= f.submit "Log in", class:"button-19 forms" %>
        </div>
      </div>
      <br/>

      <div class="grid-x">
        <div class="cell">
          <%= render "devise/shared/links" %>
        </div>
      </div>

      <% end %>

  </div>
